*.exe
*.input
*.output
*.in
*.out
*.log
*.pdf
*.gz
*.pyc
*.npz
*.xls
*.db
*.idb
*.pdb
*.FCIDUMP
__pycache__
file
FCIDUMP
C++ for VS
latex
Matlab
python\test
C++ for VSCode\test
doc
test
test.cpp
test.py
data
.leetcode

